input[type='text'] {
  width: 85%;
}

button {
  background-color: #fff;
  width: 10%;
  cursor: pointer;
  &:disabled {
    background-color: #fafafa;
  }
}

.task-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}